<h1>User</h1> <%= link_to "Novo Usuario PROVISORIO", new_user_path %>

<% unless @users.nil? %>
	<table class="tabela_padrao">
		<tr>
			<th>E-mail</th>
			<th>Empresa</th>
			<th></th>
		</tr>
		<%= render :partial => "user", :collection => @users.reverse %>		
	</table>
<% end %>