<center>
	<h1>Usuários</h1>

	<% unless @users.nil? %>
		<table>
			<tr>
				<th>E-mail</th>
				<th>Nome</th>
				<th>Nascimento</th>
				<th>Endereço</th>
				<th>Empresa</th>
				<th>Conta</th>			
				<th>Criado Em</th>
			</tr>
			<%= render :partial => "user", :collection => @users %>		
		</table>
	<% end %>
</center>